<h1>Sign up to HowdooAi</h1>

<div id="login-box">
	<%= form_for @user do |f| %>
		<%= f.label :email %>
		<%= f.email_field :email %>
		<%= f.label :password%>
		<%= f.password_field :password%>
		<%= f.submit 'Register' %>
	<% end %>

	<%= link_to 'Back', users_path %>
</div>