<h2>Backups</h2>
<h3>Existing Backup</h3>
	<table>
		<thead>
			<th>Backup from</th>
			<th>Backup to</th>
			<th>Item to backup</th>
			<th>Frequency</th>
		</thead>
		<% @backups.each do |backup| %>
			<tr>
				<td><%= backup.transfer.source_connector.name %></td>
				<td><%= backup.transfer.destination_connector.name %></td>
				<td><%= backup.transfer.item_name %></td>
				<td><%= backup.frequency %></td>
			</tr>
		<% end %>
	</table>
<h3>Register new Backup</h3>
	<%= link_to "New Transfer", :transfers_new, method: :get %>
<h3>Backups history</h3>
<table>
		<thead>
			<th>Item backed up</th>
			<th>Backup status</th>
			<th>Back up time</th>
		</thead>
		<% @backups.each do |backup| %>
			<% backup.backup_histories.each do |log| %>
			<tr>
				<td><%= log.item_name %></td>
				<td><%= log.status %></td>
				<td><%= log.backup_start_time %></td>
			</tr>
			<% end %>
		<% end %>
