<%= form_for @backup do |f| %>
	<div class="connector" id="source-connector">
		<h4>Backup from: </h4>
		<%= f.collection_select(:source_connector_id, @connectors, :id, :host) %>
		<div id="connector-contents"></div>
		<%= %>
		<%= %>
		<%= %>
		<%= %>
		<%= %>
		<%= %>
		<%= %>
	</div>
	<div class="connector" id="destination-connector">
		<h4>Backup to: </h4>
		<%= f.collection_select(:destination_connector_id, @connectors, :id, :host) %>
		<%= %>
		<%= %>
		<%= %>
		<%= %>
		<%= %>
		<%= %>
		<%= %>
		<%= %>
		<%= %>
		<%= %>
		<%= %>
	</div>
	<%= f.submit %>
<% end %>