<%= form_for @transfer do |f| %>
<% if @transfer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this <%= @transfer.class.name %> from being saved:</h2>
 
    <ul>
    <% @transfer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
	<div class="connectors">
		<div class="connector" id="source-connector">
			<h4>Transfer from: </h4>
			<%= f.collection_select(:source_connector_id, @connectors, :id, :name, {prompt: "Please select"}) %>
			<div id="connector-contents">
				<h2>Available files and directories</h2>
				<ul id="source-connector-list">
					<li class="collapsed" id="" data-item-type="directory" role="root-folder" data="/">Root (/)<span id="root-contents"></span></li>
				</ul>
			</div>
			<%= f.hidden_field :item_name, {class: 'selectable-item'} %>
		</div><div class="connector" id="destination-connector">
			<h4>Transfer to: </h4>
			<%= f.collection_select(:destination_connector_id, @connectors, :id, :name, {prompt: "Please select"}) %>
		</div>
	</div>
	<div>
		<%= f.label "How often should this be backed up?" %>
		<%= f.select :frequency do  %>
			<% Backup::BACKUP_SCHEDULES.each do |option|  %>
		 		<%= content_tag(:option, option[:frequency], value: option[:frequency]) %>
		 		<% end %>
	 		<% end %>
	</div>
	<div>
		<%= f.button "Schedule backup", name: "transfer[type]", value: "Backup" %>
		<%= f.button "Transfer now", name: "transfer[type]", value: "Transfer" %>
	</div>
<% end %>